
.containnerplus {
    margin-left: 150px;
}

.containnerContas { 
    
    margin-top: 50px;   
    width: 100%;
    height: 90vh;    
    text-align: center;    
    font-size: 1.5rem;    
    overflow: auto;
    
}




ul {    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 50px;           
    justify-content: space-between;
    list-style-type: none;
    margin-right: 15px;
    
}

.ulTitulo { 
    
    background-color:#daaf53;
    border-radius: 10px;
    height: 50px;
    font-weight: 800;
    color: #003d72;    
}

.ulTitulo li, .ulConteudo li { 
    margin-top: 10px;
}

.ulConteudo { 

    background-color:#daaf53;
    border-radius: 10px;
    height: 50px;    
    color: white;
}

.deleteImg {     
    width: 30px;
    height: 30px;
    cursor: pointer;           
}

.deleteImg:hover { 
    opacity: 0.5;    
}



::-webkit-scrollbar-track {
    background-color: #003d72;
}
::-webkit-scrollbar {
    width: 10px;
    
}
::-webkit-scrollbar-thumb {
    background: #daaf53;    
    border-radius: 5px;
  }
  
