.boxResult { 
    width: 900px;
    position: absolute;
    opacity: 1;
    margin-left: 100px;    
    
    
}

.boxResultGone { 
    opacity: 0 ;
}

.box { 
    z-index: 1;
    position: absolute;
    opacity: 1;
       
}

.menu { 
    height: 96Vh;
}

.boxGone { 
    position: absolute;
    opacity: 0;
}



